*{margin:0;padding:0}
body{background-color:white;}
#container{margin:0 auto;width:1000px;padding:5px 10px;}
#head-nav{position:relative;}
#head ul{position:absolute;right:0px;bottom:0px;padding: 0}
#head ul li{display:inline-block;border-right:solid 1px #000000;height: 15px;padding: 0px;text-align: top;line-height: 15px;}
#head ul li#li-end{border: none;}
#nav-main{background:red;}
#nav-container{margin: 0 auto;width: 1000px;}
#nav-main ul li{display:inline-block;color:white;font-size:17px;padding:0 7px;
border-right:groove 1px #feeeed;line-height: 40px;text-align: center;}
#nav-main ul li#nav1{border-left:groove 1px #feeeed;}
#nav-main ul li#tv{border-right:none;}
#nav-sub{padding:5px;}
#nav-sub ul li{display:inline-block;border-right:solid 1px black;padding:0px 5px;
font-size:14px;text-align: center;line-height: 14px;}
#nav-sub ul li#end1{border-right:none}
#top-dis{background:#f3f3f3;padding:10px;}
#long-content ul li{display:inline-block;width:135px;font-size:12px;}
#long-content ul li#end2{text-align:right}
#top-tuwen ul{display:inline-block;}
#top-tuwen ul li{display:inline-block;float: left;}
#top-tuwen ul li a{display:inline-block;vertical-align:top;color:black;}
#top-tuwen ul li a p{font-size:10px;}
#left{display:inline-block;width:200px;border:solid 1px #f3f3f3;
vertical-align:top;position:relative;padding:10px;}
/*轮播图*/
#top-text{display: inline-block;}
#lunbotu{display: inline-block;float: right;}
#left-content{margin-top: 10px;}
#block p{font-size: 10px;opacity: 0.8;}
#middle{display:inline-block;width:370px;padding:15px;vertical-align: top;margin-left: 20px;margin-right: 20px;}
#news{margin:10px 0;}
#news ul{list-style-type:square;}
#news ul li{margin:6px 5px;font-size:14px;}
#right{display:inline-block;width:330px;float:right;position: relative;}

#right-img{display: inline-block;}
#right-top ul{display: inline-block;margin: 0;padding: 0;border: solid 1px black;width: 328px;}
#right-top ul li{display: inline-block;text-align: center;width: 163.5px;}
#right-top ul li:first-child{border-right: solid 1px black;}
.active{background: #ed1941}
#right-topic{margin:5px auto;}
#right-content{display: inline-block;margin-left: 10px;vertical-align: top;}
footer ul{margin: 0 auto;width: 1000px;}
footer ul li{display: inline-block;font-size: 10px;margin: 0 15px;text-align: center;}



