{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>凤凰网</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mycss.css'%}"/>
    
    
</head>
<body>
<div id="container">
    <header>
        <img src="{% static 'image/i.jpg'%}" width="150px">
        <div id="head-nav">
            <nav id="head">
                <ul>
                    <li>登陆</li>
                    <li>查找</li>
                    <li id="li-end">设为首页</li>
                </ul>
            </nav>
        </div>
    </header>
</div>
<div id="nav-main">
    <nav id="nav-container">
        <ul>
            <li id="nav1">资讯</li>
            <li>奥运</li>
            <li>视频</li>
            <li>财经</li>
            <li>娱乐</li>
            <li>青年</li>
            <li>时尚</li>
            <li>汽车</li>
            <li>房产</li>
            <li>科技</li>
            <li>智库</li>
            <li>游戏</li>
            <li>彩票</li>
            <li>书城</li>
            <li>佛教</li>
            <li id="tv">凤凰卫视</li>
            <li id="tv">PHOENIX TV</li>
        </ul>
    </nav>
</div>
<div id="container">
    <nav id="nav-sub">
        <ul>
            <li>图片</li>
            <li>军事</li>
            <li>历史</li>
            <li>评论</li>
            <li>股票</li>
            <li>理财</li>
            <li>金融</li>
            <li>手机</li>
            <li>数码</li>
            <li>家居</li>
            <li>读书</li>
            <li>文化</li>
            <li>国学</li>
            <li>酒业</li>
            <li>旅游</li>
            <li>健康</li>
            <li>公益</li>
            <li>星座</li>
            <li>音乐</li>
            <li>讲堂</li>
            <li>未来</li>
            <li>创新</li>
            <li id="end1">电台</li>
        </ul>
    </nav>
</div>
<div id="container">
    <div id="top-dis">
        <div id="long-ad">
            <img src="{%static 'image/1.jpg'%}" width="980px">
        </div>
        <div id="long-content">
            <ul>
                <li>新主流财经门户</li>
                <li>多少钱能在欧洲安家</li>
                <li>国家助学政策查询</li>
                <li>中国重汽时事直通车</li>
                <li>打造教育声音源</li>
                <li>执法中"王朝马汉"</li>
                <li id="end2">一网尽知"中韩事"</li>
                <li>新主流财经门户</li>
                <li>多少钱能在欧洲安家</li>
                <li>国家助学政策查询</li>
                <li>中国重汽时事直通车</li>
                <li>打造教育声音源</li>
                <li>执法中"王朝马汉"</li>
                <li id="end2">一网尽知"中韩事"</li>
            </ul>
        </div>
    </div>
</div>
<div id="container">
    <section id="top-tuwen">
        <ul>
            <li>
                <img src="{%static 'image/anbei.jpg'%}" width="80px">
                <a href="#">
                    <h6>日本扩军备战破纪录!</h6>
                    <p>三大动作全针对中国,信号危险</p>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <img src="{%static 'image/anbei.jpg'%}" width="80px">
                <a href="#">
                    <h6>日本扩军备战破纪录!</h6>
                    <p>三大动作全针对中国,信号危险</p>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <img src="{%static 'image/anbei.jpg'%}" width="80px">
                <a href="#">
                    <h6>日本扩军备战破纪录!</h6>
                    <p>三大动作全针对中国,信号危险</p>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <!--气泡框???-->
                <img src="{%static 'image/anbei.jpg'%}" width="80px">
                <a href="#">
                    <h6>日本扩军备战破纪录!</h6>
                    <p>三大动作全针对中国,信号危险</p>
                </a>
            </li>
        </ul>
    </section>
    <hr style="height:2px;border:none;border-top:2px solid gray;opacity:0.5">
</div>
<div id="container" class="body-wrap">
    <div id="left">
        <div id="left-top">
            <div id="top-text">
                <h3>评论</h3>
            </div>       
            <div id="lunbotu">

                <img id="imglunbo" src="{%static 'image/si-1.jpg'%}" width="100px">
            </div>
        </div>   
        <div id="left-content">
            <div id="block">
                <h6>白岩松提出了一个奥运真问题</h6>
                <p>奥运会不能继续加码，以至于需要有极强实力的国家才能操办得起。</p>
                <h6>刘泽华：儒家坏就坏在守成</h6>
                <h6>局长打局长是怎样的“家丑”</h6>
                <h6>谁来给夺冠的女排“涨工资”</h6>
                <hr style="border-top:solid 1px;margin: 10px 0;"/>
            </div>
            <div id="block">
                <h6>白岩松提出了一个奥运真问题</h6>
                <p>奥运会不能继续加码，以至于需要有极强实力的国家才能操办得起。</p>
                <h6>刘泽华：儒家坏就坏在守成</h6>
                <h6>局长打局长是怎样的“家丑”</h6>
                <h6>谁来给夺冠的女排“涨工资”</h6>
                <hr style="border-top:solid 1px;margin: 10px 0;"/>
            </div>
            <div id="block">
                <h6>白岩松提出了一个奥运真问题</h6>
                <p>奥运会不能继续加码，以至于需要有极强实力的国家才能操办得起。</p>
                <h6>刘泽华：儒家坏就坏在守成</h6>
                <h6>局长打局长是怎样的“家丑”</h6>
                <h6>谁来给夺冠的女排“涨工资”</h6>
                <hr style="border-top:solid 1px;margin: 10px 0;"/>
            </div>
            <div id="block">
                <h6>白岩松提出了一个奥运真问题</h6>
                <p>奥运会不能继续加码，以至于需要有极强实力的国家才能操办得起。</p>
                <h6>刘泽华：儒家坏就坏在守成</h6>
                <h6>局长打局长是怎样的“家丑”</h6>
                <h6>谁来给夺冠的女排“涨工资”</h6>
                
            </div>
        </div>    
    </div>
    <div id="middle">
        <div><h4>要闻</h4></div>
        <div id="news">
            <h3>习近平晤昂山素季 两人都谈到这个词</h3>
            <ul>
                <li>数说习近平“一带一路”建设座谈会 治国理政</li>
                <li>李克强与昂山素季谈了啥？</li>
                <li>注意！这项改革关乎下一代和妈妈们的安全数</li>
            </ul>
        </div>
        <div id="news">
            <h3>习近平晤昂山素季 两人都谈到这个词</h3>
            <ul>
                <li>数说习近平“一带一路”建设座谈会 治国理政</li>
                <li>李克强与昂山素季谈了啥？</li>
                <li>注意！这项改革关乎下一代和妈妈们的安全数</li>
            </ul>
        </div>
        <div id="news">
            <h3>习近平晤昂山素季 两人都谈到这个词</h3>
            <ul>
                <li>数说习近平“一带一路”建设座谈会 治国理政</li>
                <li>李克强与昂山素季谈了啥？</li>
                <li>注意！这项改革关乎下一代和妈妈们的安全数</li>
            </ul>
        </div>
        <div id="news">
            <h3>习近平晤昂山素季 两人都谈到这个词</h3>
            <ul>
                <li>数说习近平“一带一路”建设座谈会 治国理政</li>
                <li>李克强与昂山素季谈了啥？</li>
                <li>注意！这项改革关乎下一代和妈妈们的安全数</li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">

    var count=1;
    var imgs=new Array("{%static 'image/si-1.jpg'%}","{%static 'image/si-2.jpg'%}");
    var imgsright=new Array("{%static 'image/tu01.jpg'%}","{%static 'image/tu02.jpeg'%}");
        window.onload=setInterval(function() {
            // body...
        var img=document.getElementById("imglunbo");
        var imgr=document.getElementById("imgs-right");
        var imgul=document.getElementById("rul");
        var imgli=imgul.getElementsByTagName("li");
        img.src=imgs[(count++)%2];
        imgr.src=imgsright[(count++)%2];
        for (var i=0;i<imgli.length;i++){
            imgli[i].className='';
        }
        imgli[(count++)%2].className="active";
        },2000);
</script>
    <div id="right">
        <div id="right-top">
            <ul id="rul"><li class="active">资讯</li><li>娱乐</li></ul>
            <div id="right-img">
                <img id="imgs-right" src="{%static 'image/tu01.jpg'%}" width="330px">
            </div>
        </div>
        <hr style="border-top:solid 1px;margin: 5px 0;"/>
        <div>
            <div id="right-topic">
                <h4>日本放话面对面向王毅抗议 实拍王毅10字反击</h4>
            </div>
            <div id="right-block">
                <div id="right-img">
                    <img src="{%static 'image/aug.jpg'%}" width="100px">
                </div>
                <div id="right-content">
                    <h5>评：王毅会挑明 警告日韩G20别搞事</h5>
                    <h5>韩媒称习近平G20拒见 朴槿惠很紧张</h5>
                    <h5>评:韩不听劝 解放军出手要彻底敲醒</h5>
                    <h5>金正恩陷张成泽阴影 视察某地大怒</h5>
                </div>
                <div id="right-img">
                    <img src="{%static 'image/aug.jpg'%}" width="100px">
                </div>
                <div id="right-content">
                    <h5>评：王毅会挑明 警告日韩G20别搞事</h5>
                    <h5>韩媒称习近平G20拒见 朴槿惠很紧张</h5>
                    <h5>评:韩不听劝 解放军出手要彻底敲醒</h5>
                    <h5>金正恩陷张成泽阴影 视察某地大怒</h5>
                </div>
                <div id="right-img">
                    <img src="{%static 'image/aug.jpg'%}" width="100px">
                </div>
                <div id="right-content">
                    <h5>评：王毅会挑明 警告日韩G20别搞事</h5>
                    <h5>韩媒称习近平G20拒见 朴槿惠很紧张</h5>
                    <h5>评:韩不听劝 解放军出手要彻底敲醒</h5>
                    <h5>金正恩陷张成泽阴影 视察某地大怒</h5>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div id="container">
    <div id="long-ad">
            <img src="{%static 'image/jd.jpg'%}" width="1000px">
    </div>
    <hr style="border-top:solid 2px red;">
</div>
</body>
<footer>
    <div id="container">
        <ul>
            <li>京ICP证030609号</li>
            <li>增值电信业务经营许可证B2-20060060</li>
            <li>广播电视节目制作经营许可证（京）字第803号</li>
            <li>网络文化经营许可证文网文【2013】1090-1139号</li>
        </ul>
    </div>
</footer>
</html>